<html>
   <head>
        <script src="/js/isbn.js"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
    <body>
        <form method="post" action="isbn1">
            <center>
            <h2>Welcome to Isbn checker, please enter a isbn<h2>
                <textarea name="texty" rows="20" cols="75">
                </textarea>
                <div class="button">
                <input type="submit" name="button" ><br>

                <%isbn_10_or_13.each_with_index do |v, i|%>
                <%=v%>
                <%=checkk[i]%><br>
                <%end%>
               














            </center>
         </form>
     </body>
</html>